@font-face {
  font-family: Bold;
  src: url("fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: Normal;
  src: url("fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: Light;
  src: url("fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: frankie;
  src: url("fonts/Frankie.otf");
}

/* index page */

a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  margin-top: -15px;
  justify-content: center;
}

header,
section {
  font-family: "Normal";
}

nav a {
  padding-left: 25px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav a:hover {
  color: #89a39a;
  -webkit-transition: all 0.35s ease;
}

#logo-header {
  position: absolute;
  left: 5%;
  width: 200px;
  margin-top: 25px;
}

#button-header {
  position: absolute;
  right: 5%;
  margin-top: 60px;
  background-color: #89a39a;
  border: none;
  padding: 10px 25px 10px;
  font-family: "normal";
  color: white;
  font-size: 20px;
  -webkit-transition: all 0.35s ease;
}

#button-header:hover {
  background-color: #251611;
  -webkit-transition: all 0.45s ease;
}

#banner-box {
  text-align: center;
}

#banner {
  height: auto;
  max-width: 100%;
  margin-top: 170px;
}

#banner-text {
  color: #251611;
  opacity: 0.9;
  margin-left: 80px;
  margin-top: -475px;
  margin-bottom: 290px;
}

H1 {
  font-family: "frankie";
  font-size: 80px;
  letter-spacing: 1px;
  margin-top: 105px;
}

#banner-text p {
  font-family: "light";
  font-size: 40px;
  margin-top: -10px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
}

h2 {
  font-size: 36px;
  color: #767679;
}

#subtitle {
  font-size: 20px;
  font-family: "light";
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1px;
}

h2,
#subtitle {
  text-align: center;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 50px;
  margin-bottom: 40px;
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  padding-top: 40px;
}

.sub-container > div {
  flex: 1 150px;
}

.sub-container-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #767679;
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

#sub-container-picture1,
#sub-container-picture2 {
  max-height: 450px;
  max-width: 750px;
  padding-left: 70px;
}

#sub-container-picture2 {
  padding-left: 0px;
  padding-right: 70px;
}

.sub-container-button {
  margin-top: 10px;
  background-color: #89a39a;
  border: none;
  padding: 10px 25px 10px;
  font-family: "normal";
  color: white;
  font-size: 20px;
  -webkit-transition: all 0.35s ease;
}

.sub-container-button:hover {
  background-color: #251611;
  -webkit-transition: all 0.45s ease;
}

.contact-section {
  margin-top: 120px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 5px;
  padding-bottom: 60px;
  background-color: #f4f4f4;
  margin-bottom: 90px;
  text-align: center;
}

#button-paragraph {
  margin-bottom: 30px;
}

a .contact-section {
  margin-top: 10px;
}

h4 {
  font-family: "normal";
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.footer-button {
  display: flex;
  justify-content: space-around;
  padding-left: 40%;
  padding-right: 40%;
}

i.fab {
  color: #251611;
  text-shadow: 1px 1px 1px #ccc;
}

i.fab:hover {
  color: #89a39a;
  text-shadow: 1px 1px 1px black;
}

footer {
  text-align: center;
  font-family: "normal";
  padding-left: 250px;
  padding-right: 250px;
}

#mention {
  margin-top: 70px;
  color: #767679;
  font-size: 16px;
}

/* index page */

/* contact page */

#hr-contact-top {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 170px;
}

#h1-contact {
  font-family: "frankie";
  font-size: 65px;
  color: #251611;
  letter-spacing: 1px;
  margin-top: -20px;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: #767679;
}

#subtitle-contact {
  font-size: 23px;
  font-family: "normal";
  line-height: 35px;
  letter-spacing: 1px;
  margin-top: -35px;
  text-align: center;
  color: #767679;
}

#hr-contact-bottom {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-bottom: 100px;
}

h2,
#subtitle {
  text-align: center;
}

.contact-text {
  font-size: 22px;
}

.sub-container-contact {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #767679;
  text-align: center;
  font-family: "Normal";
}

.container-contact {
  margin-top: 20px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #f4f4f4;
  margin-bottom: 90px;
}

.container-formcontact {
  margin-top: 20px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #f4f4f4;
  margin-bottom: 90px;
}

.container-contact p,
.container-formcontact p {
  font-size: 22px;
  text-align: center;
  font-family: "normal";
}

.contact-social {
  display: flex;
  justify-content: space-around;
  padding-left: 250px;
  padding-right: 250px;
  margin-top: 50px;
  color: #89a39a;
}

.contact-social i {
  color: #89a39a;
}

.contact-social i:hover {
  color: #251611;
}

#mention-contact {
  margin-top: 150px;
  color: #767679;
  font-size: 16px;
}

.container-form {
  margin-top: 20px;
  margin-left: auto;
  width: 70%;
  padding-top: 10px;
  background-color: #f4f4f4;
  margin-bottom: 80px;
}

#form_1 {
  margin-top: 40px;
}

.form-group {
  font-family: "Normal";
  font-size: 18px;
  text-align: left;
}

#name,
#email,
#message {
  width: 60% !important;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #bdbdbd;
  font-size: 18px;
  border-radius: 4px;
}

#message {
  margin-bottom: 20px;
}

#form-button {
  margin-top: 10px;
  margin-bottom: -50px;
  background-color: #89a39a;
  border: none;
  padding: 10px 25px 10px;
  font-family: "normal";
  color: white;
  font-size: 20px;
  -webkit-transition: all 0.35s ease;
}

/* contact page */

@media screen and (max-width: 290px) {
  #logo-header {
    width: 110px;
    margin-top: 27px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  #button-header {
    font-size: 15px;
    padding: 6px 10px 6px;
  }

  h1 {
    font-size: 18px;
    margin-top: 410px;
    margin-left: -75px;
  }

  h2 {
    margin-top: -260px;
    font-size: 18px;
  }

  #subtitle {
    font-size: 14px;
    font-weight: 500;
  }

  #banner-text p {
    font-size: 14px;
    margin-top: 60px;
    margin-left: -72px;
    font-family: "normal";
    font-weight: 600;
    text-align: center;
  }

  hr {
    margin-bottom: 40px;
  }

  .sub-container {
    padding-top: 0px;
  }

  .sub-container-title {
    font-size: 13px;
  }

  h3,
  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 13px;
  }

  #sub-container-picture1,
  #sub-container-picture2 {
    max-height: 150px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  #sub-container-picture1 {
    margin-bottom: -25px;
  }

  #sub-container-picture2 {
    margin-bottom: 5px;
  }

  .sub-container-button {
    margin-top: 10px;
    padding: 6px 10px 6px;
    font-size: 15px;
  }

  .contact-section {
    margin-top: 0px;
  }

  footer,
  .footer-button {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Contact */

  #h1-contact {
    font-size: 50px;
    margin-left: 5px;
    margin-bottom: 55px;
  }

  #subtitle-contact {
    font-size: 19px;
  }

  .container-formcontact {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-contact p,
  .container-formcontact p {
    font-size: 19px;
  }

  .container-contact,
  .contact-social {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 13px;
  }

  .form-group {
    margin-left: -50px;
    margin-right: -8px;
  }

  /* Contact */
}

@media (min-width: 300px) and (max-width: 345px) {
  #logo-header {
    width: 120px;
    margin-top: 27px;
  }

  #button-header {
    font-size: 15px;
    padding: 8px 15px 8px;
  }

  h1 {
    font-size: 18px;
    margin-top: 405px;
    margin-left: -70px;
  }

  h2 {
    margin-top: -260px;
    font-size: 18px;
  }

  #subtitle {
    font-size: 14px;
    font-weight: 500;
  }

  #banner-text p {
    font-size: 16px;
    margin-top: 80px;
    margin-left: -72px;
    font-family: "normal";
    font-weight: 600;
    text-align: center;
  }

  hr {
    margin-bottom: 40px;
  }

  .sub-container {
    padding-top: 0px;
  }

  .sub-container-title {
    font-size: 13px;
  }

  h3,
  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 13px;
  }

  #sub-container-picture1,
  #sub-container-picture2 {
    max-height: 175px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  #sub-container-picture1 {
    margin-bottom: -25px;
  }

  #sub-container-picture2 {
    margin-bottom: 5px;
  }

  .sub-container-button {
    margin-top: 10px;
    padding: 8px 15px 8px;
    font-size: 15px;
  }

  .contact-section {
    margin-top: 0px;
  }

  footer,
  .footer-button {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Contact */

  #h1-contact {
    font-size: 45px;
    margin-left: 7px;
  }

  #subtitle-contact {
    font-size: 16px;
  }

  .container-contact p,
  .container-formcontact p {
    font-size: 19px;
  }

  .container-formcontact,
  .container-contact,
  .contact-social {
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .container-form {
    margin-left: 48px;
    /* width: 100%; */
  }

  .form-group {
    width: 260px;
  }

  /* Contact */
}

@media (min-width: 350px) and (max-width: 450px) {
  #logo-header {
    width: 140px;
  }

  #button-header {
    font-size: 15px;
    padding: 8px 15px 8px;
  }

  h1 {
    font-size: 24px;
    margin-top: 391px;
    margin-left: -72px;
  }

  #banner {
    margin-top: 140px;
  }

  #banner-text p {
    font-size: 16px;
    margin-top: 90px;
    margin-left: -72px;
    font-family: "normal";
    font-weight: 600;
    text-align: center;
  }

  h2 {
    margin-top: -250px;
    font-size: 22px;
  }

  #subtitle {
    font-size: 14px;
    font-weight: 500;
  }

  #indexhr {
    margin-bottom: 0px;
    margin-top: 40px;
  }

  .sub-container-title {
    font-size: 13px;
  }

  .sub-container {
    margin-bottom: 0px;
  }

  h3,
  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 13px;
  }

  #sub-container-picture1,
  #sub-container-picture2 {
    max-height: 200px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  #sub-container-picture1 {
    margin-top: 30px;
  }

  #sub-container-picture2 {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .contact-section {
    margin-top: 65px;
    padding-bottom: 40px;
  }

  .footer-button {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sub-container-button {
    margin-top: 10px;
    padding: 8px 15px 8px;
    font-size: 15px;
  }

  .contact-section h4 {
    font-size: 17px;
    font-weight: bold;
  }

  #mention {
    margin-top: 60px;
    font-size: 13px;
  }

  footer {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Contact */

  #h1-contact {
    font-size: 45px;
    padding-left: 70px;
  }

  #subtitle-contact {
    font-size: 17px;
    margin-top: -15px;
  }

  #hr-contact-bottom {
    margin-bottom: 70px;
  }

  .container-formcontact,
  .container-contact {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .container-contact p,
  .container-formcontact p {
    font-size: 19px;
  }

  .container-form {
    margin-left: 30px;
    margin-right: -100px;
  }

  .form-group {
    width: 310px;
  }

  .contact-social {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 13px;
  }

  /* Contact */
}

@media (min-width: 540px) and (max-width: 650px) {
  h1 {
    font-size: 28px;
    margin-top: 353px;
    margin-left: -62px;
  }

  #banner-text p {
    font-size: 19px;
    margin-top: 100px;
    margin-left: -62px;
    font-family: "normal";
    font-weight: 600;
    text-align: center;
  }

  p#subtitle {
    font-size: 18px;
    font-weight: 500;
  }

  h2 {
    margin-top: -250px;
    font-size: 22px;
  }

  .sub-container {
    padding-top: 0px;
  }

  #sub-container-picture1 {
    max-height: 190px;
    padding-right: 0px;
    margin-top: 10px;
    padding-left: 90px;
  }

  #sub-container-picture2 {
    max-height: 190px;
    padding-left: 90px;
    padding-right: 0px;
    margin-bottom: 40px;
  }

  h3,
  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  footer,
  .footer-button,
  .contact-social {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Contact */

  #h1-contact {
    font-size: 57px;
    margin-left: 5px;
  }

  #subtitle-contact {
    font-size: 15px;
  }

  .container-form,
  .contact-social {
    font-size: 14px;
  }

  /* Contact */
}

@media (min-width: 768px) and (max-width: 790px) {
  #logo-header {
    width: 153px;
  }

  #button-header {
    padding: 8px 18px 8px;
    font-size: 17px;
  }

  #banner {
    margin-top: 147px;
  }

  H1 {
    margin-top: 44%;
    margin-left: -52px;
    font-size: 43px;
    letter-spacing: 0px;
  }

  #banner-text p {
    font-size: 16px;
    margin-top: 90px;
    margin-left: -62px;
    font-family: "normal";
    font-weight: 600;
    text-align: center;
  }

  h2 {
    margin-top: -158px;
    font-size: 28px;
  }

  #subtitle {
    font-size: 16px;
  }

  h3 {
    font-size: 26px;
  }

  .sub-container-title {
    color: gray;
    text-transform: uppercase;
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }

  .sub-container-title {
    margin-top: -36px;
  }

  #sub-container-picture1,
  #sub-container-picture2 {
    max-height: 250px;
    padding-left: 11px;
  }

  #sub-container-picture1 {
    padding-left: 30px;
    padding-right: 0px;
  }

  #sub-container-picture2 {
    padding-left: 0px;
    padding-right: 30px;
  }

  .sub-container-button {
    padding: 9px 12px 9px;
    font-size: 16px;
  }

  h4 {
    font-size: 23px;
  }

  .footer-button {
    padding-left: 0px;
    padding-right: 0px;
  }

  #mention {
    font-size: 13px;
  }

  /* Contact */

  #subtitle-contact {
    font-size: 21px;
  }

  .container-formcontact,
  .contact-social {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Contact */
}

@media (min-width: 800px) and (max-width: 1050px) {
  #logo-header {
    width: 153px;
  }

  #button-header {
    padding: 8px 18px 8px;
    font-size: 17px;
  }

  #banner {
    margin-top: 147px;
  }

  H1 {
    margin-top: 38%;
    margin-left: -52px;
    font-size: 43px;
    letter-spacing: 0px;
  }

  #banner-text p {
    font-size: 20px;
    margin-top: -21px;
    margin-left: -48px;
  }

  h2 {
    margin-top: -158px;
    font-size: 28px;
  }

  #subtitle {
    font-size: 16px;
  }

  h3 {
    font-size: 26px;
  }

  .sub-container-title {
    color: gray;
    text-transform: uppercase;
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }

  .sub-container-title {
    margin-top: -5px;
  }

  #sub-container-picture1,
  #sub-container-picture2 {
    max-height: 250px;
    padding-left: 11px;
  }

  #sub-container-picture1 {
    padding-left: 30px;
    padding-right: 0px;
  }

  #sub-container-picture2 {
    padding-left: 0px;
    padding-right: 30px;
  }

  .sub-container-button {
    padding: 9px 12px 9px;
    font-size: 16px;
  }

  h4 {
    font-size: 23px;
  }

  .footer-button {
    padding-left: 0px;
    padding-right: 0px;
  }

  #mention {
    font-size: 13px;
  }

  /* Contact */

  #subtitle-contact {
    font-size: 20px;
  }

  .container-formcontact,
  .contact-social {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Contact */
}

@media screen and (min-width: 3800px) {
  #logo-header {
    position: absolute;
    left: 30%;
  }

  #button-header {
    position: absolute;
    right: 30%;
  }

  h1 {
    font-size: 70px;
    margin-top: 120px;
    margin-left: 29%;
  }

  #h1-contact {
    margin-left: 0%;
  }

  #banner-text p {
    font-size: 35px;
    margin-top: -25px;
    margin-left: 29%;
  }

  .footer-button {
    padding-left: 1250px;
    padding-right: 1250px;
  }
}
